/vendor
composer.phar
composer.lock
.phpunit.result.cache
/phpunit.xml
.DS_Store
Thumbs.db
wandb/

# IDE's
.idea/
/.vscode
.classpath
.project
.settings/

# build
/bin
/node_modules/
.env
.env.*
__pycache__/
venv/

# 3D print files (copies for convenience)
print_stl/

# Max Brain secrets & data
credentials.json
token.json
*.db
